@import '../../assets/scss/variables';

$width: 300px;

.search-container {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 100;
}

.search-form {
  margin-left: auto;
  display: flex;
}

.input-search {
  opacity: 0;
  width: 0;
  height: 24px;
  border: 1px solid transparent;
  border-bottom: 1px solid #666;
  visibility: hidden;
  transition: width 0.3s, opacity 0.5s linear, visibility 0.5s;
  outline: none;
  font-size: 1em;
}

.btn-search {
  width: 24px;
  height: 24px; 
}

.btn-search:hover {
  cursor: pointer;
}

.search-suggestions {
  opacity: 0;
  width: 0;
  border: 1px solid #ccc;
  height: auto;
  padding: 0px;
  margin: 0px;
  transition: width 0.3s, opacity 0.5s linear, visibility 0.5s;
}

.suggestion-item {
 background-color: #fff;
 color: #000;
 font-size: 12px; 
 font-family: arial;
 font-weight: normal;
 padding: 10px;
 margin: 0px;
 line-height: 25px;
 display: block;
 cursor: pointer;
 border-bottom: 1px solid #ccc;

 &:hover {
    background-color: $color-gray-bg;
  }
}

.suggestion-link {
  color: $color-base;
  font-size: medium;
}


.search-active {
  width: 300px;
  opacity: 1;
  visibility: visible;
}

.selected {
    background-color: $color-gray-bg;
}